@use "@/app/styles/variables" as *;
.wrapper {
  min-height: 100vh;
  min-width: 100%;
  background-color: $color-black;
  background-image: url("../../assets/backgrounds/hero-image.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 11.25rem 2.625rem;
}
@media (max-width: 780px) {
  .wrapper {
    padding: calc(11.25rem / 2) 2.625rem;
  }
}
@media (max-width: 540px) {
  .wrapper {
    padding: calc(11.25rem / 6) 2.625rem;
  }
}
