@use "@/app/styles/variables" as *;
.productsBox {
  &__label {
    @include text-format(subheading-text);
    color: $color-white;
    font-weight: 600;
    margin-bottom: 2rem;
  }
}
.productsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  column-gap: 2rem;
  row-gap: 4.5rem;
}
