@use "@/app/styles/variables" as *;
.productsBox {
  &__label {
    @include text-format(subheading-text);
    color: $color-white;
    font-weight: 600;
    margin-bottom: 2rem;
  }
}
.productsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  column-gap: 2rem;
  row-gap: 4.5rem;
}
@media (min-width: 781px) and (max-width: 1025px) {
  .productsGrid {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    max-width: fit-content;
    margin: auto;
  }
}
@media (max-width: 780px) {
  .productsGrid {
    grid-template-columns: 1fr;
    justify-items: center;
    max-width: fit-content;
    margin: auto;
    row-gap: 2rem;
  }
}
